@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<Branch> branches = ViewBag.Branches;
}

<h2>Branches</h2>

@{ foreach (Branch branch in branches)
    {
    <form class="edit-form d-flex">
        <input type="text" name="name" value="@branch.branchName" class="form-control ds-input"/>
        <input type="text" name="address" value="@branch.addressInfo" class="form-control ds-input"/>
        <input type="number" name="x" value="@branch.locationX" step="0.00001" class="form-control ds-input"/>
        <input type="number" name="y" value="@branch.locationY" step="0.00001" class="form-control ds-input"/>

        <button type="submit" asp-controller="Admin" asp-action="EditBranch" asp-route-id="@branch.ID">
            <i class="pnl-icon fa fa-save fa-lg"></i>
        </button>
        <!-- Button trigger modal -->
        <button type="submit" asp-route-id="@branch.ID" asp-controller="Admin" asp-action="RemoveBranch">
            <i class="pnl-icon fa fa-trash fa-lg"></i>
        </button>
        <br />
    </form>
    }
}
<form id="add-category-form" class="horizontal" asp-action="AddBranch" asp-controller="Admin" method="POST">
    <input type="text" name="name" placeholder="Name" class="form-control ds-input"/>
    <input type="text" name="address" placeholder="Address" class="form-control ds-input"/>
    <input type="text" name="x" placeholder="X" step="0.00001" class="form-control ds-input"/>
    <input type="text" name="y" placeholder="Y" step="0.00001" class="form-control ds-input"/>
    <input type="submit" id="search-button" class="btn btn-primary btn-sm" value="Add">
</form>


